<div class="product-component">
	<div>
		<div class="img relative text-center flex">
			<div class="w-full">
				<img class="w-full h-full img" src="{{product.images[0] | img_url: 'medium'}}"
					onmouseover="this.src='{{product.images[1] | img_url: 'medium'}}'"
					onmouseout="this.src='{{product.images[0] | img_url: 'medium'}}'" alt="{{product.images.alt}} " />
			</div>
			<div class="container-icon text-center">
				{% render 'icon-login' %}
			</div>
		</div>

		<div class="w-full flex flex-col text-center text ">
			<div class="container-title text-center">
				<a class=" w-full h-full " href="{{product.url}}">{{ product.title }}</a>
				<span>{{ product.type }}</span>
			</div>
			<p class="price">-</p>
			<p class="price">{{ product.price | money }}</p>
		</div>
	</div>
</div>