<!-- /templates/customers/account.liquid -->




<div class= "flex flex-col items-center p-0 gap-[80px] w-[1272px] order-1 flex-grow-0">

  <div class="flex  flex-row items-center gap-[16px] order-none flex-grow-0 flex-shrink-0 self-stretch w-full">
    <div class="w-[52px] h-[20px] font-montserrat font-normal text-base leading-20 text-ink flex-shrink-0 order-0 flex-grow-0">Profile</div>
    <div class=" order-1">{% render 'carpet-right' %}</div>
    <div class = "w-[80px] h-[20px] font-montserrat font-normal text-base leading-20 flex-shrink-0 order-2 flex-grow-0 ">My Profile</div>
  </div>
  
  <div class= "flex flex-row justify-between items-start p-0 w-[1272px] flex-grow-0 order-1 gap-[69px]">

    <div class= "flex flex-col items-start p-0 md:gap-[20px] w-[125px] h-[280px] flex-shrink-0 order-none flex-grow-0">
      <div class= "flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] box-border
          order-none self-stretch border-b-solid border-b-[1px] border-b-[#000000]">
        <div class= "w-[90px] h-[24px] font-montserrat font-semibold text-sm leading-6 text-black  order-none">
          My Profile
        </div>
      </div>



      <div class= "flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-1 self-stretch ">
        <div class= "w-[90px] h-[6px] font-montserrat font-normal text-sm leading-6 text-black flex-none order-none">
          My Orders
        </div>
      </div>

      <div class= "flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-2 self-stretch ">
        <div class= "w-[90px] h-[6px] font-montserrat font-normal text-sm leading-6 text-black flex-none order-none">
          My Address
        </div>
      </div>

      <div class= "flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-3 self-stretch ">
        <div class= "w-[90px] h-[6px] font-montserrat font-normal text-sm leading-6 text-black flex-none order-none">
          My Wish List
        </div>
      </div>

      <div class= "flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-4  self-stretch ">
        <div class= "w-[90px] h-[6px] font-montserrat font-normal text-sm leading-6 text-black flex-none order-none">
          My Voucher
        </div>
      </div>

      
    </div>
    
  </div>
</div>

<!-- {% if customer.default_address %}
  <h2>Address</h2>
  <p>{{ customer.default_address.address1 }}</p>
  {% if customer.default_address.address2 != "" %}
    <p>{{ customer.default_address.address2 }}</p>
  {% endif %}
  <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
  <p>{{ customer.default_address.zip }}</p>
  <p>{{ customer.default_address.phone }}</p>
{% endif %}

<div id="customer_orders">
  <h2>Orders</h2>
  {% paginate customer.orders by 10 %}
  {% if customer.orders.size != 0 %}
    {% for order in customer.orders %}
        <div>{{  order.billing_address.name }}</div>
    {% endfor %}
  {% else %}
    <p>You haven't placed any orders yet.</p>
  {% endif %}
  {{ paginate | default_pagination }}
  {% endpaginate %} -->
</div>
