<!-- /templates/customers/account.liquid -->

<!-- display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 16px;
width: 1272px;
height: 20px;
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0; -->

<div class= "flex flex-col items-center p-0 gap-[80px] w-[1272px] ">

  <div class="flex  flex-row items-center gap-[16px] order-none flex-grow-0 flex-shrink-0 self-stretch w-full">
    <div class="w-52 h-20 font-montserrat font-normal text-base leading-20 text-ink flex-shrink-0 order-0 flex-grow-0">Profile</div>
    <div class=" order-1">{% render 'carpet-right' %}</div>
    <div>My Profile</div>
</div>
</div>

{% if customer.default_address %}
  <h2>Address</h2>
  <p>{{ customer.default_address.address1 }}</p>
  {% if customer.default_address.address2 != "" %}
    <p>{{ customer.default_address.address2 }}</p>
  {% endif %}
  <p>{{ customer.default_address.city}}, {% if address.province_code %}{{ customer.default_address.province_code }}, {% endif %}{{ customer.default_address.country }}</p>
  <p>{{ customer.default_address.zip }}</p>
  <p>{{ customer.default_address.phone }}</p>
{% endif %}

<div id="customer_orders">
  <h2>Orders</h2>
  {% paginate customer.orders by 10 %}
  {% if customer.orders.size != 0 %}
    {% for order in customer.orders %}
        <div>{{  order.billing_address.name }}</div>
    {% endfor %}
  {% else %}
    <p>You haven't placed any orders yet.</p>
  {% endif %}
  {{ paginate | default_pagination }}
  {% endpaginate %}
</div>
