<!-- /templates/customers/addresses.liquid -->
  <div class="flex flex-col items-center w-full h-[600px] py-0 px-5 gap-[16px] md:order-1
	  flex-grow-0  md:py-0 md:px-5  md:gap-[80px] mx-auto md:w-[1272px]">

			<div class=" flex flex-row  order-none items-center gap-[20px] p-0  flex-grow-0 flex-shrink-0 self-stretch 
			w-full md:gap-[16px]">
				<div
					class="w-[52px] h-[20px] font-montserrat font-normal text-base leading-20 text-ink flex-shrink-0 order-0 flex-grow-0">
					Profile
				</div>
				<div class=" order-1">{% render 'carpet-right' %}</div>
				<div
					class="w-[100px] h-[20px] font-montserrat font-normal text-base leading-20 flex-shrink-0 order-2 flex-grow-0 ">
					My Address
				</div>
			</div>

			<div
				class="md:hidden visible w-[335px] h-0 flex-none order-1 flex-grow-0 border-t-solid border-t-[0.5px] border-t-[#082639]">
			</div>
  <!-- 			<div class= "flex flex-row justify-between items-start p-0 w-[1272px] flex-grow-0 order-1 gap-[69px]"> -->
			<div
				class="flex flex-row justify-between items-start order-2 p-0 w-full
				 md:w-[1272px] flex-grow-0 md:order-1 gap-[69px] h-full ">
				<div
					class="hidden md:flex flex-col items-start p-0 md:gap-[20px] w-[125px] h-[280px] flex-shrink-0 order-none flex-grow-0">
					<div class="flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-none self-stretch">
						<div
							class=" w-full h-[6px] font-montserrat font-normal text-sm leading-6 text-black flex-none order-none">
							My Profile
						</div>
					</div>
                  
					<div
						class="flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-1 self-stretch
                        ">
                  
						<div
							class="w-full h-[6px] font-montserrat font-normal text-sm leading-6 text-black flex-none order-none">
							My Orders
						</div>
					</div>

					<div
						class="flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-2 
                      self-stretch border-b-solid border-b-[1px] border-b-[#000000] box-border ">
						<div
							class="w-full h-[24px] font-montserrat font-semibold text-sm leading-6 text-black  order-none">
							My Address
						</div>
					</div>

					<div
						class="flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-3 self-stretch ">
						<div
							class="w-full h-[6px] font-montserrat font-normal text-sm leading-6 text-black flex-none order-none">
							My Wish List
						</div>
					</div>

					<div
						class="flex flex-row items-start py-2 px-3 gap-[10px] w-[125px] h-[40px] order-4  self-stretch ">
						<div
							class="w-full h-[6px] font-montserrat font-normal text-sm leading-6 text-black flex-none order-none">
							My Voucher
						</div>
					</div>
				</div>

              
                {% assign addresscount = 0 %}
                 
                {% for address in customer.addresses %} 
                   {% if address.address1 != '' and  address.address2 != '' %}
                            {% assign addresscount = addresscount | plus: 1 %}
                    {% endif %}            
                {% endfor %}
                 {% if addresscount == 0 %}
                     <div class="flex flex-col justify-center items-center p-0 md:w-[1000px] md:h-[280px] order-1 flex-grow-0 flex-none md:gap-[20px]">
                        <div class="flex flex-col items-center p-0 md:gap-[30px] md:w-[390px] md:h-[280px] order-2 flex-grow-0 flex-none" >
                            <div class = "order-none">
                                {% render 'addresses_logo' %}             
                            </div>

                            <div class = "flex flex-col items-center p-0 gap-[12px] w-full h-[80px] order-1 flex-grow-0">
                                <p class = "font-montserrat font-semibold text-20 leading-28">
                                    NO ADDRESS YET
                                </p>
                              
                                <p class = "w-full h-[40px] font-montserrat font-normal font-size-[14px] leading-[20px] text-center order-1 text-[#082639]">
                                    You currently don't have any saved delivery addresses. Add one right here for quicker checkout.
                                </p>
                               
                            </div>
                             <a class= " box-border flex flex-row justify-center items-center py-[8px] 
                                  px-[20px] gap-[10px] w-[130px] h-[40px] order-2  border-solid 
                                  border-[1px] border-[#082639] bg-[#082639] flex-grow-0 ">
                               
                                    <p class = "h-[24px] font-montserrat font-semibold 
                                      font-size-[16px]  text-white">Address</p>
                              </a>
                            
                        </div>
                      </div>
                   {% else %}
                       <div class = "flex flex-col items-center p-0  w-[1000px]  order-1 flex-grow-0">
                          
                            <div class = "address-scroll-design md:mb-[60px] flex flex-col  items-center w-full p-0 gap-[40px] order-none max-h-[364px] overflow-y-scroll">         
                                {% for address in customer.addresses %} 
                                    {%- if address == customer.default_address -%}
                                        <div class = " flex flex-row justify-between items-center p-0 order-none gap-[20px] w-full h-[108px] ">
                                          <div class = "box-border flex flex-row justify-between 
                                                items-center px-[20px] py-[12px] gap-[10px] w-full h-[108px] border-l-solid border-l-[1px] 
                                                border-l-[rgba(0,0,0,0.3)] flex-grow-1 bg-[#F6F6F6]">
                                      
                                              <div class = "flex flex-col items-start p-0 gap-[10px] w-[503px] order-none h-[84px]">
                                                 
                                                  <div class = "flex flex-row items-start p-0 gap-[10px] md:w-[503] md:h-[84px] order-none">
                                                    <p class = "w-[97px] h-[20px] font-montserrat font-normal font-semibold text-[14px] leading-[20px]" >
                                                      {{  address.company}}
                                                    </p>
                                                  </div>
    
                                                  <div class = "flex flex-col items-start p-0 gap-[8px] md:w-[503px] md:h-[20px] order-1">
                                                      <p class= "font-Montserrat font-normal text-[14px] leading-[20px] order-none flex-grow-0 " >
                                                        {{ address.address2 }}, {{ address.address1 }} {%if address.zip != ''  %} - Postcode: {{ address.zip }}{% endif %}
                                                      </p>
                                                      
                                                  </div>
    
                                                  <div class = "flex flex-col items-start p-0 gap-[8px] md:w-[503px] md:h-[20px] order-2">
                                                      <p class= "font-Montserrat font-normal text-[14px] leading-[20px] order-none flex-grow-0 " >
                                                         {{ address.phone }}
                                                      </p>
                                                  </div>
                                                  
                                              </div>
    
                                              <div class = "flex flex-row items-center p-0 gap-[4px] w-[52px] h-[24px] order-1">
                                                  <div class = "ordr-none w-[24px] h-full">{% render 'edit_icon' %}</div>
                                                  <div class = "ordr-1 w-[24px] h-full">{% render 'delete_icon' %}</div>
                                                
                                              </div>
                                            
                                              
                                          </div>
                                      </div>
                                        
                                  {%- endif -%}
                                  {% assign index = 1 %}
                                  <div class = " flex flex-row justify-between items-center p-0 order-{{ index }} gap-[20px] w-full h-[108px] ">
                                      <div class = "box-border flex flex-row justify-between 
                                            items-center px-[20px] py-[12px] gap-[10px] w-full h-[108px] border-l-solid border-l-[1px] 
                                            border-l-[rgba(0,0,0,0.3)] flex-grow-1 bg-[#FFFFFF]">
                                  
                                          <div class = "flex flex-col items-start p-0 gap-[10px] w-[503px] order-none h-[84px]">
                                             
                                              <div class = "flex flex-row items-start p-0 gap-[10px] md:w-[503] md:h-[84px] order-none">
                                                <p class = "w-[97px] h-[20px] font-montserrat font-normal font-semibold text-[14px] leading-[20px]" >
                                                  {{  address.company}}
                                                  
                                                </p>
                                              </div>

                                              <div class = "flex flex-col items-start p-0 gap-[8px] md:w-[503px] md:h-[20px] order-1">
                                                  <p class= "font-Montserrat font-normal text-[14px] leading-[20px] order-none flex-grow-0 " >
                                                    {{ address.address2 }}, {{ address.address1 }} {%if address.zip != ''  %} - Postcode: {{ address.zip }}{% endif %}
                                                  </p>
                                                  
                                              </div>

                                              <div class = "flex flex-col items-start p-0 gap-[8px] md:w-[503px] md:h-[20px] order-2">
                                                  <p class= "font-Montserrat font-normal text-[14px] leading-[20px] order-none flex-grow-0 " >
                                                     {{ address.phone }}
                                                  </p>
                                              </div>
                                              
                                          </div>

                                          <div class = "flex flex-row items-center p-0 gap-[4px] w-[52px] h-[24px] order-1">
                                              <div class = "ordr-none w-[24px] h-full">{% render 'edit_icon' %}</div>
                                            
                                              <button type="button" data-modal-target="defaultModal1" data-modal-toggle="defaultModal1" 
                                                class = "ordr-1 w-[24px] h-full">{% render 'delete_icon' %}</button>
                                          </div>
                                        
                                          
                                      </div>
                                  </div>
                                  {% assign index = index | plus: 1 %}
                                  
                                {% endfor %}
                                
                            </div>

                           <button data-modal-target="addAddress-popup" data-modal-toggle="addAddress-popup" type="button" class = "md:w-[130px] md:h-[40px] bg-[#082639] items-center
                                   justify-center order-1 gap-[10px] py-[8px] px-[12px]">
                               <p class = "w-[106px] h-[24px] font-montserrat font-normal font-size-[16px] line-height-[24px] align-center
                                 order-none text-white">Add address</p>
                           </button>  
                       </div>
                       
                  {% endif %}
			
			</div>
		</div>


<!--  Add new address pop up -->
{% form 'customer_address', customer.new_address %}
   <div id="addAddress-popup" tabindex="-1" aria-hidden="true" 
     class=" fixed top-0 left-0 right-0 z-50 hidden w-full
     p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] ">
      <div class="relative  max-w-2xl  items-start gap-[40px] p-[20px]">
          <!-- Modal content -->
          <div class="relative bg-white rounded-lg shadow dark:bg-gray-700  flex flex-col gap-[40px] md:h-[765px] md:w-[780px]">
              <!-- Modal header -->
              <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                  <p class="font-montserrat font-semibold text-[20px] leading[28px]">
                      Add address
                  </p>
                  <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="addAddress-popup">
                      <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                      <span class="sr-only">Close modal</span>
                  </button>
              </div>
              <!-- Modal body -->
            <div class ="flex flex-col items-center gap-[60px] self-stretch">
                <div class= "flex flex-col items-start gap-[20px] self-stretch">
                  
                    <div class = "flex flex-col items-start  gap-[20px] order-none px-[12px] w-full">
                        <label class= "font-montserrat font-size-[16px] line-height-[24px] font-semibold order-none" >
                          Phone number <a style = " color : red ">*</a>
                        </label>
                      <input type = "tel" autocomplete="tel" name="address[phone]" style= "border-bottom: 1px solid rgba(0, 0, 0)" class = "text-black w-full   border-none  border-box ">
                    </div>

                    <div class = "flex flex-col items-start  gap-[20px] order-1 px-[12px] w-full">
                        <label class= "font-montserrat font-size-[16px] line-height-[24px] font-semibold order-none" >
                          Country/Region <a style = " color : red ">*</a>
                        </label>
                      <select name="address[country]" style= "border-bottom: 1px solid rgba(0, 0, 0, 0.3)" 
                        class = "w-full  text-black  border-box border-none" autocomplete="country">
                        {{ all_country_option_tags }}
                      </select>
                      
                    </div>

                    <div class = "flex flex-row items-start  gap-[20px] order-2 px-[12px] w-full ">   
                        <div class = "flex items-start flex-col gap-[12px] order-none w-full">
                          <p class= "font-montserrat font-size-[16px] line-height-[24px] font-semibold order-none" >
                            Firstname <a style = " color : red ">*</a>
                          </p>
                          <input type = "text" name="address[first_name]" required style= "border-bottom: 1px solid rgba(0, 0, 0)" class = "text-black w-full   border-none  border-box ">
                        </div>

                        <div class = "flex items-start flex-col gap-[12px] order-1 w-full">
                          <label class= "font-montserrat font-size-[16px] line-height-[24px] font-semibold order-none" >
                            Lastname <a style = " color : red ">*</a>
                          </label>
                          <input type = "text" name="address[last_name]" required style= "border-bottom: 1px solid rgba(0, 0, 0)" class = "text-black w-full   border-none  border-box ">
                        </div>
                    </div>

                    <div class = "flex flex-col items-start  gap-[20px] order-2 px-[12px] w-full ">   

                        <p class="font-montserrat font-semibold text-[16px] leading[28px] order-none">
                            Address <a style = " color : red ">*</a>
                        </p>
                        <input type = "text" placeholder="Apartment, suite, etc." name="address[address2]" required style= "border-bottom: 1px solid rgba(0, 0, 0)" 
                          class = "text-black w-full   border-none border-box  order-1">
                
                        <input type = "text" name ="address[address1]" placeholder="Street and house number" style= "border-bottom: 1px solid rgba(0, 0, 0)"
                          required class = "w-full   border-none border-box  order-1">
                        <div class= "flex flex-row self-stretch items-start gap-[20px] order-2">
                             <input type = "text" name="address[city]" placeholder="City" style= " border-bottom: 1px solid rgba(0, 0, 0)" required class = "text-black w-full   border-none border-box  order-none">
                             <input type = "number" name="address[zip]" placeholder="Postcode" style= " border-bottom: 1px solid rgba(0, 0, 0)" required class = "text-black w-full   border-none border-box  order-1">
                          
                        </div>
                    </div>

                    <div class = " flex flex-row gap-[8px] px-[12px] items-center order-3 w-full">
                      {{ form.set_as_default_checkbox }}
                      <label for="address_default_address_{{ form.id }}" class="order-1 font-montserrat font-size-[16px] line-height-[24px]">
                        {{ 'customer.addresses.set_default' | t }}
                      </label>
<!--                                                   <input type =  "checkbox"  class = " order-none">
                        <p class = "order-1 font-montserrat font-size-[16px] line-height-[24px]">Set as Default Delivery Address</p> -->
                    </div>
                                                   
                </div>
            </div>
            <div class="flex flex-row mx-auto gap-[20px] items-start">
                  <button  type="submit" 
                    class="text-white  py-[8px] w-[130px] h-[40px] justify-center
                    px-[12px] order-none border-box border-solid 
                    border-[1px] border-[#082639] bg-[#082639] items-center">
                     <p class ="font-montserrat font-semibold font-size-[16px] line-height-[24px] align-center ">Add address</p> 
                  </button>
              
                  <button data-modal-hide="addAddress-popup" type="button" 
                    class="text-black  py-[8px] w-[130px] h-[40px] justify-center
                    px-[12px] order-1 border-box border-solid 
                    border-[1px] border-[#082639]  items-center">
                    Cancel
                  </button>
                 
              </div>
              
          </div>
      </div>
  </div>
{% endform %}

    
  
<!-- Delete address pop up -->

<div id="defaultModal1" tabindex="-1" aria-hidden="true" class="fixed top-0 left-0 right-0 z-50 hidden w-full p-4 overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full">
    <div class="relative w-full max-w-2xl max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
            <!-- Modal header -->
            <div class="flex items-start justify-between p-4 border-b rounded-t dark:border-gray-600">
                <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                    Terms of Service
                </h3>
                <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="defaultModal1">
                    <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                    <span class="sr-only">Close modal</span>
                </button>
            </div>
            <!-- Modal body -->
            <div class="p-6 space-y-6">
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    With less than a month to go before the European Union enacts new consumer privacy laws for its citizens, companies around the world are updating their terms of service agreements to comply.
                </p>
                <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                    The European Union’s General Data Protection Regulation (G.D.P.R.) goes into effect on May 25 and is meant to ensure a common set of data rights in the European Union. It requires organizations to notify users as soon as possible of high-risk data breaches that could personally affect them.
                </p>
            </div>
            <!-- Modal footer -->
            <div class="flex items-center p-6 space-x-2 border-t border-gray-200 rounded-b dark:border-gray-600">
                <button data-modal-hide="defaultModal" type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">I accept</button>
                <button data-modal-hide="defaultModal" type="button" class="text-gray-500 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-blue-300 rounded-lg border border-gray-200 text-sm font-medium px-5 py-2.5 hover:text-gray-900 focus:z-10 dark:bg-gray-700 dark:text-gray-300 dark:border-gray-500 dark:hover:text-white dark:hover:bg-gray-600 dark:focus:ring-gray-600">Decline</button>
            </div>
        </div>
    </div>
</div>




