{{ 'main.js' | asset_url | script_tag }}

<div class="relative bg-white flex" x-data="{mobileMenuOpen:True}">
	<div class="mx-auto w-full">
		<div class="border mx-auto w-[90%] md:w-[62.5%] mt-6" style="color: #082639;"></div>
		<div class="flex flex-col md:flex-row md:justify-between px-[20px] items-start text-center mx-auto w-auto md:w-[62.5%] mb-10"
			style="margin-top: 80px;">
			<!-- About -->
			<div class="flex flex-col md:items-center items-start gap-5 justify-between w-full md:w-[200px]">
				<div class="flex justify-between w-full md:w-auto">
					<p class="text-xl font-semibold capitalize">
						{{ 'sections.footer.about.title' | t }}
					</p>
					<button class="block md:hidden" id="btn">{% render 'icon-caretdown' %}</button>
				</div>
				<div class="flex flex-col gap-5 items-start md:items-center" id="show">
					<a href="#" class="font-normal text-sm not-italic capitalize">{{ 'sections.footer.about.about_us' |
						t }}</a>
					<a href="#" class="font-normal text-sm not-italic capitalize">{{ 'sections.footer.about.product' | t
						}}</a>
					<a href="#" class="font-normal text-sm not-italic capitalize">{{ 'sections.footer.about.commission'
						| t }}</a>
				</div>
			</div>

			<!-- End About  -->

			<!-- Contact -->
			<div
				class="flex flex-col md:items-center items-start gap-5 pt-4 md:pt-0 justify-between w-full md:w-[200px]">
				<div class="flex justify-between w-full md:w-auto">
					<p class="text-xl font-semibold capitalize">{{ 'sections.footer.contact.title' | t }}</p>
					<button class="block md:hidden" id="btn1">{% render 'icon-caretdown' %}</button>
				</div>
				<div class="flex flex-col gap-5 items-start md:items-center" id="show1">
					<a href="#" class="font-normal text-sm not-italic capitalize">{{ 'sections.footer.contact.contact' |
						t }}</a>
					<a href="#" class="font-normal text-sm not-italic capitalize">{{
						'sections.footer.contact.book_appoiment' | t }}</a>
					<a href="https://www.instagram.com/">
						{% render 'icon-instagram' %}
					</a>
				</div>
			</div>
			<!-- End Contact -->

			<!-- Customer Service -->
			<div
				class="flex flex-col md:items-center items-start gap-5 pt-4 md:pt-0 justify-between w-full md:w-[200px]">
				<div class="flex justify-between w-full md:w-auto">
					<p class="text-xl font-semibold capitalize">{{ 'sections.footer.customer.title' | t }} </p>
					<button class="block md:hidden" id="btn2">{% render 'icon-caretdown' %}</button>
				</div>
				<div class="flex flex-col gap-5 items-start md:items-center" id="show2">
					<a href="#" class="font-normal text-sm not-italic capitalize">{{ 'sections.footer.customer.payment'
						| t }}</a>
					<a href="#" class="font-normal text-sm not-italic capitalize">{{ 'sections.footer.customer.delivery'
						| t }}</a>
					<a href="#" class="font-normal text-sm not-italic capitalize">
						{{ 'sections.footer.customer.refund' | t }}
					</a>
					<a href="#" class="font-normal text-sm not-italic capitalize">
						{{ 'sections.footer.customer.size' | t }}
					</a>
					<a href="#" class="font-normal text-sm not-italic capitalize">
						{{ 'sections.footer.customer.privacy' | t }}
					</a>
				</div>
			</div>
			<!-- End Customer Service -->
		</div>
	</div>
</div>
{% schema %}
{
"name": "Footer",
"settings": [
{
"type": "text",
"id": "mobile_menu_title",
"label": "Title",
"default": "Menu",
"info": "This is for the mobile menu window"
}
]
}
{% endschema %}