<div class="px py-8">
  {% paginate collection.products by 6 %}
    <div class="max-w mx-auto">
      <div class="grid grid-cols-1 md:grid-cols-3 gap">
        {% for product in collection.products %}
          <div class="img">
            <div class="img overflow-hidden relative group">
              <img class="w-full h-full "
                src="{{product.featured_image | img_name:'Rectangle6301_38'| img_url: 'medium' }}"
                alt="{{product.featured_image.alt}} " />
              {% comment %} <img
              class="w-full h-full hover"
              src="{{product.featured_image | img_url: 'medium'}}"
              alt="{{product.featured_image.alt}} " /> {% endcomment %}
              <div class="container-icon">
                {% render 'icon-login' %}
              </div>
            </div>
            <div class="p-4 flex flex-col text-center text ">
              <a class=" w-full h-full object-cover" href="{{product.url}}">{{ product.title }}</a>
              <p>{{ product.type }}</p>
              <p>-</p>
              <p>{{ product.price | money }}</p>
            </div>


          </div>
        {% endfor %}
      </div>
    </div>
  {% endpaginate %}
</div>